body{
    background-color: #333333;
}
h1{
    color: #ffffff;
}
.button{
    background-color: aqua;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 3px;
    color: #000000;
    margin-right: 10px;
    margin-top: 10px;
}